<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %C{1}:%M:%L - %X{object} - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="com.tamanna.challenge.interview.calendar.InterviewCalendarApplication" level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="com.tamanna.challenge.interview.calendar" level="debug" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>